NEXT_PUBLIC_SITE_URL=https://lost-in-space-maze.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_tvv50xtn
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x9c0AcD8a9051F03b14b30Cb12286c623490Ca00C
